# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

1_React_и_TypeScript_Практический_Курс _2023.mp4
2_Что_такое_LocalStorage.mp4
3_LocalStorage_in_React_TypeScript.mp4
4_Router_Pizza_React_TypeScript.mp4
introductionTS.ts
